/* MainPage.css */

.coral-box {
    background: linear-gradient(to top, #f7bea3, #fcf3ee); /* 코랄-살구 그라데이션 */
    padding: 30px 30px 16px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: 'InkLipquid', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    max-width: 100vw;
    margin: 20px auto;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .btn-1 {
    display: flex;
    align-items: center;
    color: white;
    background-color: #EDB199;
    gap: 8px;
    border-radius: 28px 28px 0px 28px;
  }

  .btn-2 {
    display: flex;
    align-items: center;
    background-color: #F0E6E2;
    gap: 8px;
    border-radius: 10px 28px 28px 10px;
  }

  .cat-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 16px 0px;
    box-sizing: border-box;
  }