.search-page-container {
    max-width: 800px;
    margin: 30px 0;
    padding: 0 15px;
    
}

.search-page-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
    font-family: 'omyu_pretty';
    font-weight: bold;
    font-size: 40px;
}

   



.search-results .question-card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    border-left: 5px solid  #f7bea3 ;
    padding-left: 15px;
}

.search-results .question-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.search-results .question-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #222;
}

.search-results .question-card p {
    color: #555;
    line-height: 1.5;
     position: relative;
    padding-left: 18px;
}

.search-results .question-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #f07c82;
    font-weight: bold;
}

.search-results .question-card a:hover {
    text-decoration: underline;
}

.question-card h3 {
    font-family: 'omyu_pretty';
    font-size: 30px;
    
}


.search-results .question-card {
    background: linear-gradient(180deg, #fff, #fffdfd);
}

.search-results .question-card p::before {
    content: "❝";
    position: absolute;
    left: 0;
    top: 0;
    color: #f07c82;
    font-size: 12px;
}