:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #8f4037;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFE7DC;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #444444;
    background-color: #ffffff;
  }
  a:hover {
    color: #c46161;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* 폰트 관련 */
@font-face {
  font-family: 'InkLipquid';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimBadasseugiTTF-L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimBadasseugiTTF-L.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_ryurue-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* 🌙 다크모드 관련 */

body.dark .coral-box {
  background: none !important; /* 기존 그라데이션 제거 */
  background-color: #272e3a !important;
  color: #d8dbe2 !important; 
}

body.dark .left-border {
  background-color: #202023;
}

body.dark .top-border {
  background-color: #202023;
}

body.dark {
  background-color: #202023;
  color: #f1f1f1;
  overflow: hidden;
  position: relative;
}

body.dark .content {
  background-color: #28292d;
}

body.dark .cat-title {
  color: #f1f1f1;
}

body.dark .p-wrapper p {
  color: #f1f1f1;
}

body.dark .topbar-search {
  background-color: #323234;
}

/* 별 공통 스타일 */
.star {
  position: fixed;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out;
  z-index: 1;
  pointer-events: none; /* 클릭 방해 안 되게 */
}

/* 반짝이는 애니메이션 */
@keyframes twinkle {
  0%, 100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}

body.dark .btn-1 {
  display: flex;
  align-items: center;
  color: white;
  background-color: #3f424d;
  gap: 8px;
  border-radius: 28px 28px 0px 28px;
}

body.dark .btn-2 {
  display: flex;
  align-items: center;
  background-color: #a3a4ab;
  gap: 8px;
  border-radius: 10px 28px 28px 10px;
}

body.dark .side-write {
  background-color: #bbbdc6;
}

body.dark .side-profile {
  background-color: #bbbdc6;
}

body.dark .profile-page {
  color: #bbbdc6;
}

body.dark .profile-page a:hover {
  color: #f8f4f2;
}

body.dark .bell-icon {
  color: #bbbdc6;
}

body.dark .bell-icon:hover {
  color: #f8f4f2;
}

body.dark .write {
  color: #b3b3b3;
}

body.dark .darkmode {
  color: #b3b3b3;
}